# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\workspace\Pycharm\ssl_detection\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
